# See http://cnswww.cns.cwru.edu/~chet/readline/readline.html for details.

#set completion-ignore-case on
set show-all-if-ambiguous on

# never ring the terminal bell (default: audible)
set bell-style none

# use vi key bindings by default (default: emacs)
set editing-mode vi

# scroll edited lines horizontally instead of wrapping onto a new screen line
# (default: off)
#set horizontal-scroll-mode off

# append a slash to completed directory names (default: on)
set mark-directories on

# append a slash to completed names which are symlinks to directories (subject
# to the value of mark-directories) (default: off)
set mark-symlinked-directories on

# a character denoting a file's type is appended to the filename when listing
# possible completions (default: off)
set visible-stats on

set keymap vi-insert
"\C-o": insert-completions

set keymap vi-command
"j": history-search-forward
"k": history-search-backward
